<!-- BEFORE FOOTER -->
<section id="before-footer" class="before-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-md-12 col-xs-12 text-right" id="container-fabweb-logo">
                <a href="https://www.fabweb.com.br" target="_blank">
                    <img src="/images/logo-fabweb-footer.png" width="170" alt="Fabweb Soluções corporativas">
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-left" id="container-fabweb-social">
                <ul id="fabweb-social-media">
                    <li><a href="https://facebook.com/fabwebbr" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/fabwebbr" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/fabwebbr" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/fabwebbrasil" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="fabweb-message">
                <hr />
                Hospedado com <i class="fa fa-heart" aria-hidden="true"></i> na <a href="https://www.fabweb.com.br" target="_blank">
                    <strong>Fabweb</strong>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END / BEFORE FOOTER -->

<!-- FOOTER -->
<footer id="footer" class="footer">
    <div class="first-footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="widget megacourse">
                        <h3 class="md"><strong>Dev</strong>tube</h3>
                        <p>Somos uma equipe focada em resultados de forma mais simples em aprendizado de nossos alunos, buscando inovar sempre com as novas tecnologias</p>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="widget quick_link">
                        <h3 class="sm">Links Rápidos</h3>
                        <ul class="list-style-block">
                            {#<li><a href="#">Sobre nós</a></li>#}
                            <li><a href="#">Área do Aluno</a></li>
                            <li><a href="#">Termos de Uso</a></li>
                            {#<li><a href="#">Contato</a></li>#}
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="widget news_letter">
                        <div class="awe-static bg-news_letter"></div>
                        <div class="overlay-color-3"></div>
                        <div class="inner">
                            <div class="letter-heading">
                                <h3 class="md">News letter</h3>
                                <p>Não perca nenhum lançamento de curso. Junte-se a nossa rede agora e mantenha-se sempre informado!</p>
                            </div>
                            <div class="letter">
                                <form>
                                    <input class="input-text" type="text">
                                    <span class="no-spam">* Não se preocupe, nós também ODIAMOS spam!</span>
                                    <input type="submit" value="Assinar agora!" class="mc-btn btn-style-2">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="second-footer">
        <div class="container">
            <div class="contact">
                <div class="email">
                    <i class="icon md-email"></i>
                    <a href="#">atendimento@devtube.com.br</a>
                </div>
                <div class="phone">
                    <i class="fa fa-mobile"></i>
                    <span>+55 (41) 9.9781-7649</span>
                </div>
            </div>
            <p class="copyright">Copyright © 2020 Devtube. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
<!-- END / FOOTER -->
